.parent{
  width:70%;
  height: 100%;
}


@media only screen and (max-width:400px){
  .parent{
      width: 80%;
  }
  
}

.parentWrapper{
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  height: 95vh;
  transition: all 0.5s ease-in;
}


@media only screen and (max-height:300px){
  .parentWrapper{
    height:auto;
    padding-bottom: 20px;
  }
}


@media only screen and (min-height:1200px){
 .parentWrapper{
   height: 96.5vh;
 }
}

.morning{
  background:url('/images/morning.jpg');
  background-size: cover;
  
 
}

.afternoon{
  background:url('/images/afternoon.jpg');
  background-size: cover;
  
}

.evening{
  background: url('/images/evening.jpg');
  background-size: cover;
 
 
}