.active{
    border:2px solid red;
  
}

.inActive{
    border:1px solid white;
    background-color: rgb(53, 1, 95);
    color: white;
}

.tabs{
    padding:0px 0px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor:pointer;
    font-weight: bold;
    transition: all 0.5s ease-in;
    height: 100%;
}

.tabsWrapper{
    width:100%;
    border:1px solid black;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}

.tabsWrapper a{
    text-decoration: none;
}

@media only screen and (min-height:1000px){
   
    .tabsWrapper{
        height: 4%;  
    }
}

.morningColor{
    background-color:rgb(255, 255, 221);
    color: black;
}

.afternoonColor{
    background-color:rgb(255, 255, 148);
    color: black;
}

.eveningColor{
    background-color:black;
    color: white;
}

